.note {
    float: left;
    padding: 5px;
    min-width: 250px;
    min-height: 200px;
    position: relative;
    display: inline-block;
    margin: 10px 10px 0 0;

    &:first-child {
        margin-left: 0;
    }

    &:nth-child(4n+4) {
        margin-left: 0;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
        margin-top: 0;
    }

    textarea {
        border: 0;
        width: 100%;
        height: 100%;
        min-height: 150px;

        &:active,
        &:focus {
            outline: 0;
        }
    }

    .title {
        border-bottom: 1px;
    }

    .body {
        min-height: 150px;
        height: calc(100% - 50px);
    }

    .delete {
        top: 0;
        right: 0;
        border: 0;
        color: red;
        background: none;
        position: absolute;
    }

    .saving {
        text-align: center;
    }

    &.red {
        color: #fff;
        background: #f8342f;
        border: 1px solid #e3342f;

        textarea {
            background: #f8342f;

            &:hover,
            &:focus {
                color: #fff;
                background: #c52e29;
            }
        }

        .delete {
            color: #fff;
        }
    }

    &.white {
        color: #333;
        background: #fff;
        border: 1px solid #333;

        textarea {
            background: #fff;

            &:hover,
            &:focus {
                background: #f8f9fa;
            }
        }
    }

    &.blue {
        color: #fff;
        background: blue;
        border: 1px solid blue;

        textarea {
            color: #fff;
            background: blue;

            &:hover,
            &:focus {
                background: #0000ea;
            }
        }
    }

    &.black {

    }

    &.orange {
        background: #ffc905;
        border: 1px solid orange;

        textarea {
            background: #ffc905;

            &:hover,
            &:focus {
                background: #f7c100;
            }
        }
    }
}